body {
  background-color: hotpink;
}

.div {
  display: flex;
  justify-content: center;
  margin: auto;
}

h1 {
  color: cornflowerblue;
  border: double darkblue 1rem;
  border-radius: 3rem;
  text-align: center;
}
