<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="#">LIKE LION</a>
      <a href="#">ABUOT US</a>
      <a href="#">CONTENT</a>
      <a href="#">LOGIN</a>
    </nav>
    {% block content %} {% endblock %}

    <footer>
      <a href="#">ADDRESS</a>
      <a href="#">COMPANY</a>
      <a href="#">FOUNDER</a>
      <a href="#">MAP</a>
    </footer>
  </body>
</html>
