body {
  background-color: hotpink;
}

h1 {
  text-align: center;
  margin: 3rem;
}

.ti {
  color: darkblue;
  border: double darkblue 0.5rem;
  border-radius: 1rem;
}

.div {
  text-align: center;
  margin: auto;
}
