<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>단어 수 세기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home01.css' %}" />
  </head>
  <body>
    <h1><span class="ti">COUNT YOUR WORDS</span></h1>
    <div class="div">
      <form action="{% url 'result01' %}" method="get">
        <textarea name="fulltext" id="" cols="60" rows="10"></textarea>
        <input type="submit" value="COUNT" />
      </form>
    </div>
  </body>
</html>
